<html>
<head>
  <title>The Times Font Server</title>
<% Font.all.each do |font| %>
  <link rel="stylesheet" href="/public/font/<%= font.name %>.css"/>  
<% end %>
  <style type="text/css">
    body { 
      text-align: center;
      padding: 0; margin: 0; 
      font-size: 180%; 
      background: #ddd;
      font-family: Helvetica, "Helvetica Neue", Arial, sans-serif;
    }
    h1 { 
      background-color: #222526; 
      padding: 40px 20px;
      margin: 0;
      color: white;
      font-size: 72px;
      border-bottom: 4px solid black;
      font-family: 'FlamaSemicondensed-Basic', sans-serif;
    }
    
    footer, footer a {
      color: #777;
      font-size: 13px;
    }
    
    h2 {
      text-shadow: white 1px 1px 1px;
    }
    
    <% Font.all.each do |font| %>
    .<%= font.name %> { font-family: '<%= font.name %>', Helvetica, Arial, sans-serif; }
    <% end %>
  </style>
</head>

<body>
  <h1>Times Font Server</h1> 
  <% Font.all.each do |font| %>
  <div class="<%= font.name %>">
    <h2><%= font.name %></h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam congue, metus id imperdiet fermentum, nulla eros semper lacus, eget accumsan velit arcu et arcu. Ut euismod tellus est, sit amet commodo ligula laoreet ornare. Fusce suscipit orci nec sapien ultrices, ac congue mi congue. Nullam hendrerit diam elementum justo faucibus, vel vestibulum nisl porttitor. Aenean justo diam, tempor posuere enim vitae, malesuada ullamcorper sapien. Aliquam venenatis pretium felis, sed placerat tellus vulputate consectetur. Morbi scelerisque sodales mi, a viverra ante. Ut tincidunt ac ligula eget consequat. Nunc id augue vitae eros tincidunt pellentesque non id magna. Ut suscipit urna eu purus vestibulum, non laoreet justo lacinia. Morbi nunc lorem, congue et augue non, ullamcorper euismod elit. In vel laoreet est, in vehicula odio. Aliquam eget venenatis massa, quis pretium dui. Suspendisse euismod viverra dui sed ultricies.</p>
  </div>
  <% end %>
  <footer>
    Updated version by: <a href="http://aendrew.com">Ændrew</a>.
    Original version by: <a href="https://github.com/colszowka/rack-fontserve">rack-fontserve</a> v<%= FONTSERVE_VERSION %>
  </footer>
</body>
</html>

